<div class="p-x">
  <div class="row">
  	<form class="form-horizontal" role="form" name="patientForm">
  		<button class="btn btn-md btn-info" ng-click="hiddenProfile=!hiddenProfile" ><span>กรอกข้อมูลผู้ป่วย</span></button>
  		<div ng-show="hiddenProfile">
  			
	          <div class="form-group">
	            <label class="col-sm-2 text-uppercase control-label">ชื่อ สกุล ผู้รับบริการ <span class="require">*</span></label>
	            <div class="col-sm-8">
	            	<input type="text" class="form-control" placeholder="" name="name" ng-model="patient.name" maxlength="50" required>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">อายุ</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="age" ng-model="patient.age" maxlength="2">
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">เบอร์โทรศัพท์</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="mobile" ng-model="patient.mobile" maxlength="10">
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">บ้านเลขที่</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="houseNo" ng-model="patient.houseNo">
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">หมู่</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="groupNo" ng-model="patient.groupNo" >
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ตำบล</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="district" ng-model="patient.district" >
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">อำเภอ</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="prefecture" ng-model="patient.prefecture" >
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">จังหวัด</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="province" ng-model="patient.province" >
	          	</div>
	          </div>  
	          <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">วินิจฉัยโรค</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="diagnose" ng-model="patient.diagnose" >
	          	</div>
	          </div>  
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ระยะเวลาที่ป่วย/เริ่มป่วยเมื่อ</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="period" ng-model="patient.period" >
	          	</div>
	          </div>  
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ชื่อผู้ดูแลหลัก</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="curator" ng-model="patient.curator" >
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ความสัมพันธ์กับผู้ป่วย</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="curatorRelation" ng-model="patient.curatorRelation" >
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ความสัมพันธ์กับผู้ป่วย</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="curatorRelation" ng-model="patient.curatorRelation" >
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ชื่อ อ.ส.ม ที่รับผิดชอบ</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="supervisor" ng-model="patient.supervisor" maxlength="50">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">เบอร์โทรศัพท์</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="supervisor" ng-model="patient.supervisor" maxlength="10">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label">การเยี่ยม</label>
	          		<div class="col-sm-8">
	          			<table class="table">
	          				<tr>
	          					<th>ครั้งที่</th>
	          					<th>วันที่</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="v in visits">
	          					<td>{{$index}}</td>
	          					<td>{{v.date}}</td>
	          					<td></td>
	          				</tr>
	          				<tr>
	          					<td></td>
	          					<td><input type="text" class="form-control" placeholder="" name="date" ng-model="visit.date"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addVisit()" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	          </div> 
  		</div>
  		<button class="btn btn-md btn-info" ng-click="hiddenNurse=!hiddenNurse" ><span>กรอกข้อมูลข้อมูลในการดูแลตยเองของผู้ป่วยและผู้ดูแล(พยาบาล)</span></button>
  		<div ng-show="hiddenNurse">
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">อาการเจ็บป่วยปัจจุบัน</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nSickness" ng-model="patient.nSickness"> -->
	          		<text-angular ng-model="patient.nSickness"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">General Appearance</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nGeneralAppearance" ng-model="patient.nGeneralAppearance"> -->
	          		<text-angular ng-model="patient.nGeneralAppearance"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label"><b>สัญญาณชีพ</b></label>
          				<div class="col-sm-12"></div>
			         	<label class="col-sm-2 text-uppercase control-label">อุณหภูมิร่างกาย(BT)</label>
			          	<div class="col-sm-6">
			          		<input type="text" class="form-control" placeholder="" name="nBodyTemp" ng-model="patient.nBodyTemp">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">องศาเซลเซียส</label>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">สัญญาณชีพ(PR)</label>
			          	<div class="col-sm-6">
			          		<input type="text" class="form-control" placeholder="" name="nPulseRate" ng-model="patient.nPulseRate">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">ครั้งต่อนาที</label>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">(RR)</label>
			          	<div class="col-sm-6">
			          		<input type="text" class="form-control" placeholder="" name="nRespiratoryRate" ng-model="patient.nRespiratoryRate">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">ครั้งต่อนาที</label>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">แรงดันเลือด(BP)</label>
			          	<div class="col-sm-6">
			          		<input type="text" class="form-control" placeholder="" name="nBloodPressure" ng-model="patient.nBloodPressure">
			          	</div>
			          	<label class="col-sm-2 text-uppercase center">มม.ปรอท</label>
	         </div>
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">การช่วยเหลือตนเองของผู้ป่วย</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nSelfHelp" ng-model="patient.nSelfHelp"> -->
	          		<select class="form-control" ng-model="patient.nSelfHelp">
	          			<option>--select--</option>
	          		</select>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ประเมินภาวะโภชนาการอาหาร(ทางที่ได้รับ, ชนิด, ปริมาณ)</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nFoodCondition" ng-model="patient.nFoodCondition"> -->
	          		<text-angular ng-model="patient.nFoodCondition"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ประเมินสภาพจิตใจและสังคม</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nMentalCondition" ng-model="patient.nMentalCondition"> -->
	          		<text-angular ng-model="patient.nMentalCondition"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">การดูแลผู้ป่วยของผู้ดูแล</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nHowSupTakeCare" ng-model="patient.nHowSupTakeCare"> -->
	          		<text-angular ng-model="patient.nHowSupTakeCare"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label"><b>การตรวจร่างกาย</b></label>
	          			<div class="col-sm-12"></div>
			         	<label class="col-sm-2 text-uppercase control-label">ตามระบบ(เน้นระบบที่มีปัญหา)</label>
			          	<div class="col-sm-8">
<!-- 			          		<input type="text" class="form-control" placeholder="" name="nCheckBySystem" ng-model="patient.nCheckBySystem"> -->
			          		<text-angular ng-model="patient.nCheckBySystem"></text-angular>
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">อุปกรณ์พิเศษที่ใช้</label>
			          	<div class="col-sm-8">
<!-- 			          		<input type="text" class="form-control" placeholder="" name="nCheckByTools" ng-model="patient.nCheckByTools"> -->
			          		<select class="form-control" ng-model="patient.nCheckByTools">
			          			<option>--select--</option>
			          		</select>
			          	</div>
	         </div>
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">วินิจฉัยปัญหา</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nDiagnosis" ng-model="patient.nDiagnosis"> -->
	          		<text-angular ng-model="patient.nDiagnosis"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">การดูแล</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nCare" ng-model="patient.nCare"> -->
	          		<text-angular ng-model="patient.nCare"></text-angular>
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ประเมินผล</label>
	          	<div class="col-sm-8">
<!-- 	          		<input type="text" class="form-control" placeholder="" name="nEstimate" ng-model="patient.nEstimate"> -->
	          		<text-angular ng-model="patient.nEstimate"></text-angular>
	          	</div>
	          </div> 
  		</div>
  		<button class="btn btn-md btn-info" ng-click="hiddenSocial=!hiddenSocial" ><span>กรอกข้อมูลด้านสังคมและเศรษฐกิจ(นักสังคมสงเคราะห์)</span></button>
  		<div ng-show="hiddenSocial">
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">อาชีพก่อนป่วย</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sFormerJob" ng-model="patient.sFormerJob">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ระยะเวลาการทำงาน</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sWorkDuration" ng-model="patient.sWorkDuration">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ก่อนป่วยผู้ป่วยมีรายได้ต่อเดือน / ต่อสัปดาห์</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sIncome" ng-model="patient.sIncome">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ลักษณะที่อยู่อาศัย</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sResidence" ng-model="patient.sResidence">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">ลักษณะบ้าน / พื้นที่ใช้สอยมาพอสังเขป หากจะถ่ายรูปต้องขออนุญาตจากเจ้าของบ้านก่อน</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sResidenceDescription" ng-model="patient.sResidenceDescription">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label">สมาชิกในครอบครัว</label>
	          		<div class="col-sm-8">
	          			<table class="table">
	          				<tr>
	          					<th>ชื่อสมาชิกในครอบครัว</th>
	          					<th>อายุ</th>
	          					<th>มีความสัมพันธ์</th>
	          					<th>อาชีพ</th>
	          					<th>รายได้</th>
	          					<th>หมายเหตุ</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="m in members">
	          					<td>{{m.name}}</td>
	          					<td>{{m.age}}</td>
	          					<td>{{m.relation}}</td>
	          					<td>{{m.job}}</td>
	          					<td>{{m.income}}</td>
	          					<td>{{m.remark}}</td>
	          					<td></td>
	          				</tr>
	          				<tr>
	          					<td><input type="text" class="form-control" placeholder="" name="name" ng-model="member.name"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="age" ng-model="member.age"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="relation" ng-model="member.relation"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="job" ng-model="member.job"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="income" ng-model="member.income"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="remark" ng-model="member.remark"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addMember()" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">เขียนสาแหรกครอบครัว (Genogram) หรือต้นไม้ครอบครัว (Family tree)</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sGenogramImg" ng-model="patient.sGenogramImg">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">เขียนผังนิเวศ(Eco map)ของผู้รับบริการ</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="sEcoMapImg" ng-model="patient.sEcoMapImg">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label"><b>การประมเินสภาวะของผู้รับบริการในประเด็นต่อไปนี้</b></label>
	          			<div class="col-sm-12"></div>
			         	<label class="col-sm-2 text-uppercase control-label">การประเมินสภาวะกาย จิต สังคม</label>
			          	<div class="col-sm-8">
			          		<input type="text" class="form-control" placeholder="" name="sMentalCondition" ng-model="patient.sMentalCondition">
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">การประเมินสภาวะครอบครัว</label>
			          	<div class="col-sm-8">
			          		<input type="text" class="form-control" placeholder="" name="sFamilyCondition" ng-model="patient.sFamilyCondition">
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">การประเมินความเสี่ยง</label>
			          	<div class="col-sm-8">
			          		<input type="text" class="form-control" placeholder="" name="sRiskCondition" ng-model="patient.sRiskCondition">
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">การประเมินตวามต้องการ</label>
			          	<div class="col-sm-8">
			          		<input type="text" class="form-control" placeholder="" name="sNeedCondition" ng-model="patient.sNeedCondition">
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">แนวทางการวางแผนให้ความช่วยเหลือ</label>
			          	<div class="col-sm-8">
			          		<input type="text" class="form-control" placeholder="" name="sHelpingGuid" ng-model="patient.sHelpingGuid">
			          	</div>
			          	
			          	<div class="col-sm-12"></div>
			          	<label class="col-sm-2 text-uppercase control-label">แผนที่บ้านผู้รับบริการ</label>
			          	<div class="col-sm-8">
			          		<input type="text" class="form-control" placeholder="" name="sPatientMapImg" ng-model="patient.sPatientMapImg">
			          	</div>
	         </div>
  		</div>
 		<button class="btn btn-md btn-info" ng-click="hiddenDrug=!hiddenDrug" ><span>กรอกข้อมูลการใช้ยา</span></button>
  		<div ng-show="hiddenDrug">
  		 	<div class="form-group">
	          	<label class="col-sm-2 left text-uppercase control-label">ข้อมูลการใช้ยา</label>
	          		<div class="col-sm-8">
	          			<table class="table">
	          				<tr>
	          					<th>วันที่</th>
	          					<th>การใช้ยา / วิตามิน /อาหารเสริม</th>
	          					<th>การแพ้ยา</th>
	          					<th>การติดตามใช้ยา</th>
	          					<th>คำแนะนำใช้ยา</th>
	          					<th>ปัญหาการใข้ยา</th>
	          					<th>note</th>
	          					<th></th>
	          				</tr>
	          				<tr ng-repeat="d in useDrugs">
	          					<td>{{d.date}}</td>
	          					<td>
	          						<table>
	          							<tr>
	          								<th>รายการยา</th>
	          								<th>วิธีการบริหาร</th>
	          								<th>จำนวน</th>
	          								<th></th>
	          							</tr>
	          							<tr ng-repeat="d in drugList">
	          								<td>{{d.drugName}}</td>
	          								<td>{{d.managing}}</td>
	          								<td>{{d.qty}}</td>
	          								<td></td>
	          							</tr>
	          							<tr>
	          								<td><input type="text" class="form-control" placeholder="" name="drugName" ng-model="drugList.drugName"></td>
	          								<td><input type="text" class="form-control" placeholder="" name="managing" ng-model="drugList.managing"></td>
	          								<td><input type="text" class="form-control" placeholder="" name="qty" ng-model="drugList.qty"></td>
	          								<td><button class="btn btn-md btn-info" ng-click="addDrugList()" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          							</tr>
	          						</table>
	          					</td>
	          					<td>{{d.isAllergy}}</td>
	          					<td>{{d.allergyDescription}}</td>
	          					<td>{{d.usingDrug}}</td>
	          					<td>{{d.drugAdvice}}</td>
	          					<td>{{d.drugProblem}}</td>
	          					<td>{{d.problemDescription}}</td>
	          				</tr>
	          				<tr>
	          					<td><input type="text" class="form-control" placeholder="" name="date" ng-model="drug.date"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="age" ng-model="drug.age"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="isAllergy" ng-model="drug.isAllergy"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="allergyDescription" ng-model="drug.allergyDescription"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="usingDrug" ng-model="drug.usingDrug"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="drugAdvice" ng-model="drug.drugAdvice"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="drugProblem" ng-model="drug.drugProblem"></td>
	          					<td><input type="text" class="form-control" placeholder="" name="problemDescription" ng-model="drug.problemDescription"></td>
	          					<td><button class="btn btn-md btn-info" ng-click="addDrug()" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
	          				</tr>
	          			</table>
		          	</div>
	          </div> 
  		</div>
		<button class="btn btn-md btn-info" ng-click="hiddenGeneral=!hiddenGeneral" ><span>กรอกข้อมูลสุขภาพเบื้องต้น</span></button>
  		<div ng-show="hiddenGeneral">
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q1}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer1" ng-model="patient.gAnswer1">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q2}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer2" ng-model="patient.gAnswer2">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q3}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer3" ng-model="patient.gAnswer3">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q4}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer4" ng-model="patient.gAnswer4">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q5}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer5" ng-model="patient.gAnswer5">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q6}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer6" ng-model="patient.gAnswer6">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q7}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer7" ng-model="patient.gAnswer7">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q8}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer8" ng-model="patient.gAnswer8">
	          	</div>
	          </div> 
			  <div class="form-group">
	          	<label class="col-sm-2 text-uppercase control-label">{{q9}}</label>
	          	<div class="col-sm-8">
	          		<input type="text" class="form-control" placeholder="" name="gAnswer9" ng-model="patient.gAnswer9">
	          	</div>
	          </div> 
  		</div>
  	</form> 
  </div>
  <br>
  <div class="row">
  </div>
</div>
